<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msa.config.mapper.ConfigMapper">
    <select id="selectAll" resultType="com.msa.config.vo.ConfigVo">
        select id, config_key as configKey, config_value as configValue
        from app_config
        order by id desc
    </select>

    <select id="selectByConfigKey" parameterType="string" resultType="com.msa.config.vo.ConfigVo">
        select id, config_key as configKey, config_value as configValue
        from app_config
        where config_key = #{configKey}
    </select>

    <insert id="insert" parameterType="com.msa.config.vo.ConfigVo" useGeneratedKeys="true" keyProperty="id">
        insert into app_config (config_key, config_value)
        values (#{configKey}, #{configValue})
    </insert>

    <insert id="insertTraceEvent" parameterType="com.msa.core.TraceEventVo" useGeneratedKeys="true" keyProperty="id">
        insert into trace_event
        (trace_id, process_id, business_key, process_type, step_id, service_name, event_type, http_method, path, status, elapsed_ms, error_code, error_message, created_at)
        values
        (#{traceId}, #{processId}, #{businessKey}, #{processType}, #{stepId}, #{serviceName}, #{eventType}, #{httpMethod}, #{path}, #{status}, #{elapsedMs}, #{errorCode}, #{errorMessage}, #{createdAt})
    </insert>
</mapper>
